html, body {
    height: 100%;
    background: rgb(75, 75, 75);
    font-size: 20px;
    }
    
    #forma {
      margin: 30px 400px 30px 400px;
      background-color: rgb(250, 245, 236);
      border: 1px solid;
      padding: 1vw;
      border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    } 
    #form {
      padding: 2vw;
    }
    #end {
      margin-top: 30px;
      position: relative;
      bottom:0;
    }
 ul {
        margin: 0;
        padding-left: 0;
    }
    
    li {
        list-style-type: none;
        margin-bottom: 10px;
    }
