body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f3e4b1;
}


.header-items {
    background-color: #606b30;
    color: #000000;
    padding: 20px;
    padding-left: 20%;
    padding-right: 20%;
}


.navbar{
    width: 60%;
    margin: 20px auto;
    background: #606b30;
    border: 2px solid black;
    border-radius: 5px;
}

nav {
    display: flex;
}

.nav_a {
    text-align: center;
    margin: 0 auto;
}

nav a:hover {
    background: #6f7a3b;
}

nav a{
    border-right: 1px solid #ffffff6b;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 10px;
    width: 25%;
    display: flex;
    align-items: center;
}

#alast {
    border: none;
}

h1 {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: x-large;
    color: #000000;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 80vh;
}

.main-first, .main-second {
    display: flex;
}

.main-item {
    background-color: #ffffff;
    width: 250px;
    height: 280px;
    font-size: large;
    transition: 0.1s ease-out;
    margin: 20px auto;
    display: flex;
    border: 2px solid black;
    border-radius: 2px;
}

.main-item:hover {
    margin: 10px auto;
    transition: 0.1s ease-out;
}

.main-item a {
    color: black;
    text-decoration: none;
    padding: 30px 50px 30px 50px;
    text-align: center;
}


.main-item p {
    text-align: center;
}

  
